apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "git_url": "https://github.com/your-org/your-repo.git",
      "git_branch": "main",
      "git_author_name": "Flux",
      "git_author_email": "flux@example.com",
      "git_ssh_private_key": "-----BEGIN OPENSSH PRIVATE KEY-----\n...\n-----END OPENSSH PRIVATE KEY-----",
      "git_ssh_username": "git",
      "kube_config_path": "/path/to/kubeconfig"
    }
